.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
  padding: 1.5rem;
  position: relative;
  z-index: 1;
  /* background-color: var(--background-color); */
}

.stars {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: radial-gradient(
      2px 2px at 10% 20%,
      rgba(255, 255, 255, 0.3) 0%,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 30% 40%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 100%
    ),
    radial-gradient(
      2px 2px at 70% 80%,
      rgba(255, 255, 255, 0.3) 0%,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 90% 10%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 100%
    );
  background-size: 200px 200px;
  background-repeat: repeat;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2; /* your content sits on top */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.subtitle {
  font-size: 1.25rem;
  color: var(--text-muted);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2; /* your content sits on top */
}

@media (min-width: 768px) {
  .links {
    flex-direction: row;
  }
}

.link {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  transform: translateY(-2px);
}

.whatsapp {
  background-color: var(--secondary-color);
}

.whatsapp:hover {
  background-color: #388e3c; /* slightly darker green */
}

.email {
  background-color: var(--accent-color);
}

.email:hover {
  background-color: #3a6e99; /* slightly darker blue */
}

.phone {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--text-muted);
  cursor: pointer;
}

.phone:hover {
  background-color: var(--background-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  .subtitle {
    font-size: 1rem;
    color: var(--text-muted);
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
