.footer {
  display: block;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  margin-top: auto;
  position: sticky;

  /* important for flex layout */
}

.footer p {
  color: var(--text-muted);
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.sideBarContent {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  color: var(--text-color);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.icon {
  color: var(--text-color);
}
