:root {
  /* 🌞 Light Mode Colors */
  --primary-color: #ffffff;
  --secondary-color: #00c853;
  --accent-color: #007bff;
  --background-color: #f0f0f0;
  --text-color: #121212;
  --text-muted: #666666;
}

.dark {
  --primary-color: #1a1a1a;
  --secondary-color: #00c853;
  --accent-color: #00adb5;
  --background-color: #121212;
  --text-color: #f0f0f0;
  --text-muted: #a0a0a0;
}
